<template>
  <div>
    <div class="flex flex-wrap" v-if="posts.length !== 0">
      <nuxt-link
        v-for="post in posts"
        :to="{ name: 'slug', params: { slug: post.slug } }"
        :key="post.slug"
        justify="space-between"
        align="center"
        m="x-auto t-2rem b-1rem"
        ><vs-card>
          <template #title>
            <h3 rounded="xl">{{ post.title }}</h3>
          </template>
          <template #img v-if="post.postImage.length !== 0">
            <img lazy :src="post.postImage[0].derived[0].url" alt="" />
          </template>
          <template #text>
            <p rounded="xl">{{ post.slug }}</p>
          </template>
          <!--<template #interactions>
            <vs-button danger icon>
              <i class="bx bx-heart"></i>
            </vs-button>
            <vs-button class="btn-chat" shadow primary>
              <i class="bx bx-chat"></i>
              <span class="span"> 54 </span>
            </vs-button>
          </template>-->
        </vs-card></nuxt-link
      >
    </div>

    <!--<article>
      <NuxtLink
        v-for="post in posts"
        :to="{ name: 'slug', params: { slug: post.slug } }"
        :key="post.slug"
      >
        <p>{{ post.title }}</p>
      </NuxtLink>
    </article>-->
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      posts: [],
      isLoading: false,
    };
  },
  methods: {
    async getHealthPosts() {
      try {
        var result = await axios({
          method: "POST",
          url: "https://api-eu-central-1.hygraph.com/v2/cl2ft3azo1scq01xmf50ie858/master",
          data: {
            query: `
          query getHealth{
              posts(where: { category: { name: "Nutrition and Health" } }) {
            title
            slug
            postImage
            }
          }
          `,
          },
        });
        //console.log(result.data.data);
        this.posts = result.data.data.posts;
      } catch (error) {
        this.$vs.notification({
          title: error.name,
          text: error.message + " " + "Please retry",
          color: "primary",
          sticky: true,
        });
      }
    },
  },
  mounted() {
    this.getHealthPosts();
  },
  head() {
    return { title: "Health Posts" };
  },
};
</script>

<style lang="scss" scoped>
article {
  a {
    @apply hover:(text-red-500);
  }
}
</style>
