
<template>
  <div ref="target" id="target" class="center">
    {{openLoading()}}
  </div>
</template>
<script>
export default {
  data: () => ({
    progress: 0,
  }),
  methods: {
    openLoading() {
      const loading = this.$vs.loading({
        progress: 0,
      });
      const interval = setInterval(() => {
        if (this.progress <= 100) {
          loading.changeProgress(this.progress++);
        }
      }, 40);
      setTimeout(() => {
        loading.close();
        clearInterval(interval);
        this.progress = 0;
      }, 2100);
    },
  },
};
</script>

        