 <template>
  <div class="center">
    <vs-navbar center-collapsed dark text-white v-model="active" not-line>
      <template #left> <span style="font-family: 'Lobster', cursive;">Ronin</span> </template>

      <template #right>
        <vs-button to="/" shadow circle floating>
          <i class="bx bx-home-alt"></i>
        </vs-button>
        <vs-button to="/categories" shadow circle floating>
          <i class="bx bx-category-alt"></i>
        </vs-button>
      </template>
    </vs-navbar>
    <div class="square">
      <div class="child" align="center">child 1</div>
      <div class="child" align="center">child 2</div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      active: "home",
    };
  },
};
</script>


<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  @apply h-3rem bg-gray-500 p-2;
  h1 {
    margin-right: auto;
  }

  nav {
    @apply mr-2rem;

    a {
      @apply hover:(text-red-500);
    }
  }
}
</style>


