<template>
  <main class="app">
    <Navbar />
    <section>
      <Nuxt keep-alive />
    </section>
  </main>
</template>

<style>
body {
  background: rgb(194, 192, 227);
  background: linear-gradient(
    90deg,
    rgba(194, 192, 227, 1) 0%,
    rgba(14, 182, 226, 1) 29%,
    rgb(155, 216, 126) 85%
  );
  
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 100%;
}
</style>