<template>
  <main text="center">
    <section v-if="post">
      <nav class="flex" m="t-1rem x-auto" w="10rem">
        <vs-button
          transparent
          dark
          block
          icon
          @click=$router.go(-1)
          style="margin-inline: auto"
        >
          <i class="bx bx-chevrons-left"></i>Back</vs-button
        >
      </nav>

      <header m="y-1rem">
        <h2 v-text="post.title" />
      </header>
      <small>
        <span>Posted {{ formatDate(post.createdAt) }}</span> &mdash;
        <span>Updated {{ formatDate(post.updatedAt) }}</span>
      </small>
      <img
        class="mx-auto img w-sm-80vw h-sm-50vh rounded-xl"
        :src="post.postImage[0].derived[0].url"
        alt=""
        style="max-width: 40rem; max-height: 30rem"
      />
      <div v-html="post.content.html" />
    </section>
  </main>
</template>

<script>
import { gql } from "graphql-request";

export default {
  async asyncData({ $graphcms, params }) {
    const { post } = await $graphcms.request(
      gql`
        query post($slug: String) {
          post(where: { slug: $slug }) {
            title
            content {
              html
            }
            slug
            postImage
            createdAt
            updatedAt
          }
        }
      `,
      { slug: params.slug }
    );
    return { post };
  },

  head() {
    return { title: this.post?.title };
  },
  methods: {
    formatDate(date) {
      const options = { year: "numeric", month: "short", day: "numeric" };

      return new Intl.DateTimeFormat("default", options).format(new Date(date));
    },
  },
};
</script>


<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
main {
  font-family: "Poppins", sans-serif;
}

</style>