<template>
  <main class="mt-2rem page">
    <section>
      <!--<vs-button-group>
        <vs-button success @click="comp = 'Health'">Health</vs-button>
        <vs-button dark @click="comp = 'Featured'">Featured</vs-button>
        <vs-button danger @click="comp = 'Tech'">Tech</vs-button>
      </vs-button-group>-->
      <vs-button-group>
        <vs-button success to="/health">Health</vs-button>
        <vs-button dark to="/featured">Featured</vs-button>
        <vs-button danger to="/tech">Tech</vs-button>
      </vs-button-group>
    </section>
    <!--<section>
      <keep-alive>
        <component :is="comp"></component>
      </keep-alive>
    </section>-->
  </main>
</template>

<script>
export default {
  data: () => ({
    //comp: "Health",
  }),
  /*components: {
    Health: () => import("../components/Health.vue"),
    Featured: () => import("../components/Featured.vue"),
    Tech: () => import("../components/Tech.vue"),
  },*/
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
main{
  font-family: 'Poppins', sans-serif;
}
</style>