<template>
  <div>
    <div
      class="hollow-dots-spinner mx-auto mt-4rem"
      
      v-if="isLoading"
    >
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="flex flex-wrap" v-if="posts.length !== 0">
      <nuxt-link
        v-for="post in posts"
        :to="{ name: 'slug', params: { slug: post.slug } }"
        :key="post.slug"
        justify="space-between"
        align="center"
        m="x-auto t-2rem b-1rem"
        ><vs-card class="card">
          <template #title>
            <h3 rounded="xl">{{ post.title }}</h3>
          </template>
          <template #img v-if="post.postImage.length !== 0">
            <img lazy :src="post.postImage[0].derived[0].url" alt="" />
          </template>
          <template #text>
            <p rounded="xl">{{ post.slug }}</p>
          </template>
          <!--<template #interactions>
            <vs-button danger icon>
              <i class="bx bx-heart"></i>
            </vs-button>
            <vs-button class="btn-chat" shadow primary>
              <i class="bx bx-chat"></i>
              <span class="span"> 54 </span>
            </vs-button>
          </template>-->
        </vs-card></nuxt-link
      >
    </div>

    <!--<article>
      <NuxtLink
        v-for="post in posts"
        :to="{ name: 'slug', params: { slug: post.slug } }"
        :key="post.slug"
      >
        <p>{{ post.title }}</p>
      </NuxtLink>
    </article>-->
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    posts: [],
    isLoading: null,
  }),

  head() {
    return { title: "Blog" };
  },
  methods: {
    async getPosts() {
      this.isLoading = true;
      try {
        var result = await axios({
          method: "POST",
          url: "https://api-eu-central-1.hygraph.com/v2/cl2ft3azo1scq01xmf50ie858/master",
          data: {
            query: `
              query {
                  posts {
                title
                slug
                category {
                  id
                  name
                }
                postImage
              }
          }
          `,
          },
        });
        //console.log(result.data.data);
        this.posts = result.data.data.posts;
        this.isLoading = false;
      } catch (error) {
        this.$vs.notification({
          title: error.name,
          text: error.message + " " + "Please retry",
          color: "primary",
          sticky: true,
        });
      }
    },
  },
  mounted() {
    this.getPosts();
  },
};
</script>

<style lang="scss" scoped>
article {
  a {
    @apply hover:(text-red-500);
  }
}

.hollow-dots-spinner,
.hollow-dots-spinner * {
  box-sizing: border-box;
}

.hollow-dots-spinner {
  height: 15px;
  width: calc(30px * 3);
}

.hollow-dots-spinner .dot {
  width: 15px;
  height: 15px;
  margin: 0 calc(15px / 2);
  border: calc(15px / 5) solid #ff1d5e;
  border-radius: 50%;
  float: left;
  transform: scale(0);
  animation: hollow-dots-spinner-animation 1000ms ease infinite 0ms;
}

.hollow-dots-spinner .dot:nth-child(1) {
  animation-delay: calc(300ms * 1);
}

.hollow-dots-spinner .dot:nth-child(2) {
  animation-delay: calc(300ms * 2);
}

.hollow-dots-spinner .dot:nth-child(3) {
  animation-delay: calc(300ms * 3);
}

@keyframes hollow-dots-spinner-animation {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>
